
@mixin hamburgerMixin($display){
    .menuWrap{
        position: fixed;
        z-index : 1;
        position: absolute;
        left : 0;
        top : 0;
        display: $display;
    }

    .hamburger{
        position: absolute;
        top : 10px;
        right : 10px;
        z-index: 1;
        width : 60px;
        height : 60px;
        padding : 1rem;
        background-color: $lightwebmaincolor1;
        @include flex(row,center,center);
        position: fixed;
    }

    .hamburger > div{
        position: relative;
        width : 100%;
        height : 2.3px;
        @include flex(row,center,center);
        background: white;
        transition: all 1s ease;
    }

    .hamburger > div::after, .hamburger > div::before{
        position: absolute;
        content: '';
        background: inherit;
        height : 2.3px;
        width : 100%;
        background: inherit;
        z-index : 1;
    }

    .hamburger > div::before{
        top : -10px;
    }


    .hamburger > div::after{
        top : 10px;
    }

    .toggler{
        position: absolute;
        top : 0;
        right : 0;
        z-index : 2; 
        cursor: pointer;
        width : 60px;
        height : 60px;
        opacity : 0;
        position: fixed;
    }

    .toggler:checked + .hamburger > div{
        transform: rotate(135deg);
    }

    .toggler:checked + .hamburger > div::before,
    .toggler:checked + .hamburger > div::after{
        transform: rotate(90deg);
        top : 0;
    }

    .menuWrap .toggler:checked:hover + .hamburger > div{
        transform: rotate(225deg);
    }

    .menuWrap .menu{
        position: fixed;
        top : 0; 
        right : 0;
        width : 100%;
        height : 100%;
        visibility: hidden;
        overflow: hidden;
        @include flex(row,center,center);
    }

    .menuWrap .menu > div{
        background: rgba(0, 0, 0, 0.874);
        height : 200vw;
        width : 200vw;
        @include flex(row,center,center);
        border-radius: 50%;
        transform: scale(0);
        transition : transform;
        transition-timing-function: ease;
        transition-duration: 1s;
        flex: none;
    }

    .menuWrap .toggler:checked ~ .menu > div {
        transform: scale(1);
    }

    .menuWrap .menu > div > div{
        text-align: center;
        max-width : 90vw;
        max-height: 100vh;
        opacity: 0;
    }

    .menuWrap .toggler:checked ~ .menu > div > div{
        opacity: 1;
        transition : opacity .5s ease .5s;
    }

    .menuWrap .menu > div > div > ul > li{
        list-style: none;
        color : white;
        font-size: 1.5rem;
        padding : 1rem;
    }

    .menuWrap .menu > div > div > ul > li > a{
        text-decoration: none;
        color : $webmaincolor;
        transition: all .4s ease;
    }

    .menuWrap .menu > div > div > ul > li > a:hover{
        color : white;
    }


    .menuWrap .toggler:checked ~ .menu {
        visibility: visible;
    }
}

