// create mixins 
@mixin flex($fd,$jc,$ac) {
    display : flex;
    flex-direction : $fd;
    justify-content : $jc;
    align-items : $ac;
}

// create a dot mixin 
@mixin dot(){
    background-color: $webmaincolor;
    position: absolute;
    height : 5px;
    width : 5px;
    border-radius: 10px;
    bottom : 0;
    opacity: 0;
    transition: all .5s ease
}

// psuedo child mixin (a mixin for styling psuedo elements in the resume button to get the shutter effect)
@mixin shutterbtn(){
    position: absolute;
    content: '';
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    background-color: $webmaincolor;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.75s ease-in;
}

// include horizontal line mixin 
@mixin horizontaLine($color){
        position: absolute;
        content: "";
        height : 3px;
        width : 4%;
        top : 50%;
        border-radius : 5px;
        background-color: $color;
}

// fit project images
@mixin projectimg(){
    position: absolute;
    height : 100%;
    width : 100%;
}