// create mixins 
@mixin flex($fd,$jc,$ac) {
    display : flex;
    flex-direction : $fd;
    justify-content : $jc;
    align-items : $ac;
}

// create a dot mixin 
@mixin dot(){
    background-color: $webmaincolor;
    position: absolute;
    height : 5px;
    width : 5px;
    border-radius: 10px;
    bottom : 0;
    opacity: 0;
    transition: all .5s ease
}

// psuedo child mixin (a mixin for styling psuedo elements in the resume button to get the shutter effect)
@mixin shutterbtn(){
    position: absolute;
    content: '';
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    background-color: $webmaincolor;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.75s ease-in;
}

// include horizontal line mixin 
@mixin horizontaLine($color){
        position: absolute;
        content: "";
        height : 3px;
        width : 4%;
        top : 50%;
        border-radius : 5px;
        background-color: $color;
}

// create a navigator outer body mixin

@mixin navigatorOuterBody($color){
    height : 50px;
    width : 30px;
    border : 2px solid $color;
    z-index : 999;
    bottom : 15px;
    left : 50%;
    position: absolute;
    border-radius : 50px;
}

// include navigator mixin
@mixin navigatorArrow($topvalue){
    position: absolute;
    content: '';
    height : 10px;
    width : 10px;
    border : 2px solid $webmaincolor;
    top : $topvalue;
    left : 50%;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
}
