// declare variables here 

$primaryColor : #f3f3f3d5;
$white : #fff;
$dark : #000;
$testColor1 : red;
$testColor2 : green;
$testColor3 : blue;
$testColor4 : violet;
$webmaincolor : #DC143C;
$lightwebmaincolor1 : #fc06377e;
$lightwebmaincolor2 : #9b0422;
$greenishColor : #18D26E;
$font-family : 'Lato', sans-serif;
$darkContentBckColor : #272626;
$changedNavBarBckColor : #bd435bc5;

// declare a map having several font-weights

$font-weights : (
    'normal' : 400px,
    'semi-bold' : 700px,
    'bold' : 900
);



    // position: relative;
    // // height : 100vh;
    // color : $white;
    // background: url('/images/banner-2.jpg') no-repeat center center/cover;

    #{&}__navigator{
        @include navigatorOuterBody(white);
    }

    #{&}__navigator::before{
        @include navigatorArrow(15%);
        animation: animate 1s ease-in-out infinite;
    }

    #{&}__navigator::after{
        @include navigatorArrow(30%);
        animation: animate 1s .3s ease-in-out infinite;
    }



    // #{&}__fixed{
    //     position: fixed;
    //     width: 100%;
    //     @include flex(row,flex-end,center);
    //     transition: all .75s ease;
    //     // h1{
    //     //     padding : 1.5rem;
    //     //     padding-left : 0rem;
    //     //     margin-left : 3rem;
    //     //     z-index: 1;
    //     // }
    // }

    // #{&}__changeFixed{
    //     background-color: $changedNavBarBckColor;
    //     box-shadow: 3px 0px 4px .5px rgba(0, 0, 0, .75);
    // }

    // #{&}__menu{
    //     // z-index: 1;
    //     margin-right : 1.5rem;
    //     ul{
    //         list-style: none;
    //         @include flex(row,space-between,center);
    //         padding : 1rem;
            // li{
            //     font-weight: map-get($map: $font-weights, $key: 'bold');
            //     transition: all 1s ease;
            //     font-size : 1rem;
            //     a{
            //         text-decoration: none;
            //         color : $white;
            //         display: inline-block;
            //         padding : .5rem;
            //         transition : all .5s ease;
            //         position: relative;
            //         margin : 0rem .1rem;
            //         .dot{
            //             @include dot();
            //             left : 0%;
            //         }
            //     }
            //     a::after,a::before{
            //         @include dot();
            //         content: '';
            //     }
            //     a::after{
            //         left : 0%;
            //     }
            //     a::before{
            //         left : 0%;
            //     }
            //     a:hover{
            //         color : tomato;
            //     }
            //     a:hover::before{
            //         left : 35%;
            //         transform: translateX(-50%);
            //         opacity: 1;
            //         transition-delay: .65s;
            //     }
            //     a:hover .dot{
            //         left : 50%;
            //         transform: translateX(-50%);
            //         opacity: 1;
            //         transition-delay: .45s;
            //     }
            //     a:hover::after{
            //         opacity: 1;
            //         left : 65%;
            //         transform: translateX(-50%);
            //     }
            // }
    //     }
    // }

    // #{&}__intro{
    //     display : inline-block;
    //     position: absolute;
    //     top : 25%;
    //     left : 3.5%;
    // }
