// declare variables here 

$primaryColor : #f3f3f3d5;
$white : #fff;
$dark : #000;
$testColor1 : red;
$testColor2 : green;
$testColor3 : blue;
$testColor4 : violet;
$webmaincolor : #DC143C;
$lightwebmaincolor1 : #fc06377e;
$lightwebmaincolor2 : #9b0422;
$greenishColor : #18D26E;
$font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// declare a map having several font-weights

$font-weights : (
    'normal' : 400px,
    'semi-bold' : 700px,
    'bold' : 900
);
