@import "mixins";
@import "variables";

*,*::after,*::before{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    font-family: $font-family;
}

.nav{
    position: relative;
    height : 100vh;
    color : $primaryColor;
    background: url('/images/banner.jpg') no-repeat center center/cover;
    #{&}__fixed{
        @include flex(row,space-between,flex-start);
        position: fixed;
        width: 100vw;
        z-index: 1;
        h1{
            padding : 1.5rem;
            padding-left : 0rem;
            margin-left : 3rem;
        }
    }
    #{&}__x{
        color : $webmaincolor;
    }
    #{&}__menu{
        margin-right : 1.5rem;
        ul{
            list-style: none;
            @include flex(row,space-between,center);
            padding : 1.5rem;
            li{
                font-weight: map-get($map: $font-weights, $key: 'bold');
                transition: all 1s ease;
                font-size : 1.08rem;
                a{
                    text-decoration: none;
                    color : $primaryColor;
                    display: inline-block;
                    padding : .5rem;
                    transition : all .5s ease;
                    position: relative;
                    // background-color: rgba(255, 237, 71, 0.158);
                    margin : 0rem .1rem;
                    .dot{
                        @include dot();
                        left : 0%;
                    }
                }
                a::after,a::before{
                    @include dot();
                    content: '';
                }
                a::after{
                    left : 0%;
                }
                a::before{
                    left : 0%;
                }
                a:hover{
                    color : $webmaincolor;
                }
                a:hover::before{
                    left : 35%;
                    transform: translateX(-50%);
                    opacity: 1;
                    transition-delay: .65s;
                }
                a:hover .dot{
                    left : 50%;
                    transform: translateX(-50%);
                    opacity: 1;
                    transition-delay: .45s;
                }
                a:hover::after{
                    opacity: 1;
                    left : 65%;
                    transform: translateX(-50%);
                    transition-delay: .2s;
                }
            }
        }
    }

    #{&}__intro{
        display : inline-block;
        position: absolute;
        top : 25%;
        left : 3.5%;
        z-index: 1;
    }

    
}

.nav::after{
    position: absolute;
    content : '';
    background-color: rgba(0,0,0,.4);
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
}

// style nav intro paragraph field
#intro{
    font-size: 2rem;
}
#name{
    font-size : 3.6rem;
    font-weight: map-get($map: $font-weights, $key: 'bold');
    margin : .6rem 0rem;
}
#skill{
    font-size : 2.7rem;
    span{
        color : $webmaincolor;
    }
}

#download{
    text-decoration : none;
    color : $primaryColor;
    display: inline-block;
    padding : .9rem;
    background-color: $lightwebmaincolor;
    border-radius : 5px;
    margin-top : 1rem;
    position: relative;
}

#download::before{
    @include resumebtn();
    transform-origin: left;
    
}

#download::after{
    @include resumebtn();
    transform-origin: right;
}

#download:hover::after, #download:hover::before{
    transform: scaleX(1);
}