*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.nav {
  position: relative;
  height: 100vh;
  color: #fff;
  background: url("/images/banner.jpg") no-repeat center center/cover;
}

.nav .nav__fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.nav .nav__fixed h1 {
  padding: 1.5rem;
  margin-left: 1.5rem;
  z-index: 1;
}

.nav .nav__x {
  color: #DC143C;
}

.nav .nav__menu {
  margin-right: 1.5rem;
  z-index: 1;
}

.nav .nav__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
}

.nav .nav__menu ul li {
  font-weight: 900;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 1.08rem;
}

.nav .nav__menu ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: .5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  margin: 0rem .1rem;
}

.nav .nav__menu ul li a .dot {
  background-color: #DC143C;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  left: 0%;
}

.nav .nav__menu ul li a::after, .nav .nav__menu ul li a::before {
  background-color: #DC143C;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  content: '';
}

.nav .nav__menu ul li a::after {
  left: 0%;
}

.nav .nav__menu ul li a::before {
  left: 0%;
}

.nav .nav__menu ul li a:hover {
  color: #DC143C;
}

.nav .nav__menu ul li a:hover::before {
  left: 35%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  -webkit-transition-delay: .65s;
          transition-delay: .65s;
}

.nav .nav__menu ul li a:hover .dot {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}

.nav .nav__menu ul li a:hover::after {
  opacity: 1;
  left: 65%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.nav::after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*# sourceMappingURL=main.css.map */